<body>
      <div class="flexbox vertical stretch">
        <% if @stations.present? %>
          <%= render(partial: "stations/row", collection: @stations, as: :station) %>
        <% else %>
        <div class="empty">
          No stations found.
        </div>
        <% end %>      
      </div>

</body>


