
<h2>Profile</h2>
 <%= link_to('Home', root_path) %><br />
<p>
    <strong>first name:</strong>
    <%# <%= @user.first_name %> 
</p>

<p>
    <strong>last name:</strong>
    <%# <%= @user.last_name %>
</p>

<p>
    <strong> email Address: </strong>
    <%# <%= @user.email %> 
</p>

