
<h1> ValetBike</h1>
 <%= link_to('Home', root_path) %><br />
<p>

    <form action='profile'>
        <p>
            <label><strong> Username: </strong></label>
            <p>
            <input first name=@user.username style="border:1px solid #000000"  >
            </p>

        </p>

        <p>
        <label><strong> Password: </strong></label>
            <p>
            <input password=@user.password style="border:1px solid #000000" >
            </p>
        </p>
        <p>
            <input type= "submit" value ="Sign in" style="border:1px solid #000000" >
        </p>

        <p>
            <a href="signup"> Sign up </a>
             <%# <%= link_to('signin') %>   
        </p>
    </form>

    

<p>
   
</p>


