<h1>Log In</h1>

<div>
  <form>
    <p>
        <label><strong> First Name: </strong></label>
        <input first name=@user.first_name  >
    </p>

    <p>
      <label><strong> Password: </strong></label>
      <input password=@user.password>
    </p>
       
    <p>
        <input type= "submit" value ="login">
    </p>
  </form>
</div>