<h2>Sign up</h2>
 <%= link_to('Home', root_path) %><br />
<p>
   
    <form>
        <p>
            <label><strong> First Name: </strong></label>
            <p>
            <input first name=@user.first_name style="border:1px solid #000000"  >
            </p>

        </p>

        <p>
        <label><strong> Last Name: </strong></label>
            <p>
            <input last name=@user.last_name style="border:1px solid #000000"  >
            </p>
        </p>

        <p>
        <label><strong> Username: </strong></label>
            <p>
            <input username=@user.username style="border:1px solid #000000" >
            </p>
        </p>

        <p>
            <label><strong> Email: </strong></label>
            <p>
            <input  email=@user.email style="border:1px solid #000000" >
            </p>
        </p>

        <p>
        <label><strong> Password: </strong></label>
            <p>
            <input password=@user.password style="border:1px solid #000000" >
            </p>
        </p>

        <p>
          <input type= "submit" value ="Submit" style="border:1px solid #000000" >
        </p>
    </form>  

</p>

   


