
<%# link to css and bootstrap stylesheet %>
<head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
      <title>ABOUT US: Grean Dolphin Paradise</title>
</head>
<body>
      
      <h1>About Us</h1>


      <div class="inner flexbox vertical sretch">
            <div class="heading"> Current Team: Green Dolphin Paradise </div>
            <div class="group first flexbox horizontal wrap center">
                  <img src= "assets/bubble.png">
                  <div class="text-section">
                        <div class="name">Xinran Bi </div>
                        <div class="bio"></div>
                  </div>
            </div>
            <div class="group first flexbox horizontal wrap center">
                  <img src= "assets/cat.png">
                  <div class="text-section">
                        <div class="name">Evelyn Gao </div>
                        <div class="bio"></div>
                  </div>
            </div>
            <div class="group first flexbox horizontal wrap center">
                  <img src= "assets/game.png">
                  <div class="text-section">
                        <div class="name">Sophie Song </div>
                        <div class="bio"></div>
                  </div>
            </div>
            <div class="group first flexbox horizontal wrap center">
                  <img src= "assets/xiao.png">
                  <div class="text-section">
                        <div class="name">Sylvia Tan </div>
                        <div class="bio"></div>
                  </div>
            </div>
      </div>


</body>







