 <div class="footer-basic">
        <footer>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/about">About</a></li>
                <li class="list-inline-item"><a href="/service">Services</a></li>
            </ul>
            <p class="copyright">Valet Bike © 2022</p>
        </footer>