.heading {
    font-size: 20px;
}
.column {
    width: 25%;
    margin-bottom: 16px;
    padding: 0 16px;
    font-size: 15px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card-img-top {
    width: 100%;
    height: 18vw;
    object-fit: cover;
 }

  /* Add some shadows to create a card effect */
  .card {
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 550px; 
    width: 300px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .panel_for_welcome_message {
    width: 100%;
    height: 150px;
    display: block;
    background-color: rgb(199, 221, 240);
}

.welcome_message {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgb(199, 221, 240);
}

.welcome_message h1 {
    height: 100%;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 400;
}