@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

// body {
//   padding-top: 60px;
// }

// section {
//   overflow: auto;
// }



// .center {
//   text-align: center;
// }

// .center h1 {
//   margin-bottom: 10px;
// }

/* typography */

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   line-height: 1;
// }

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* header */

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 1.7em;
//   color: #fff;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   font-weight: bold;
// }

// #logo:hover {
//   color: #fff;
//   text-decoration: none;
// }

/* footer */

// footer {
//   margin-top: 45px;
//   padding-top: 5px;
//   border-top: 1px solid #eaeaea;
//   color: #777;
// }

// footer a {
//   color: #555;
// }

// footer a:hover {
//   color: #222;
// }

// footer small {
//   float: left;
// }

// footer ul {
//   float: right;
//   list-style: none;
// }

// footer ul li {
//   float: left;
//   margin-left: 15px;
// }


/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid rgb(31, 29, 29);
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  text-align: center;
}


input {
  height: auto !important;
  width: 100%;
}

#error_explanation {
  color: red;
  width: 200%;

  ul {

    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;

  span {
    width: 300%;
    margin-left: 0px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}