/************************************/
/*        Global Definitions        */
/************************************/



/* 
html, body {
  height: 100%;
}

body {
  font-size: 12pt;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

#site-container{
  position: relative;
  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--black-color);
  background: var(--white-color);
}

img {
  float: left;
  width:  100px;
  height: 100px;
  object-fit: cover;
} */

/* .header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #3b3b3b;
  font-size: 20px;
} */


/* .inner_header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: black;

} */

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

/* .navbar_logo {
  height: 100%;
  display: table;
  float: left;
} */

/* .logo_container h1 {
  color: rgb(133, 153, 171);
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 29px;
} */

/* .logo_container h1 span {
  color: rgb(237, 237, 237);
} */

/* .navigation {
  float: right;
  height: 100%;
  color: white;
} */

/* .navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 10px 30px;
} */

/* .navigation a li {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 100;
} */
/* 
.index-link {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 100;
} */



/* .panel_for_welcome_message {
  width: 100%;
  height: 250px;
  display: block;
  background-color: #97DECE;
  background-color: rgb(199, 221, 240);
} */

/* .welcome_message {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #97DECE;
  background-color: rgb(199, 221, 240);
} */

/* .welcome_message h1 {
  height: 100%;
  vertical-align: middle;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: 400;

} */

/* .border_box {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 400px;

} */

/* .title_box {
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
} */