.vertical-menu {
    width: 90%; /* Set a width if you like */
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    overflow-y: auto;
}
  
.vertical-menu a {
background-color: #eee; /* Grey background color */
color: black; /* Black text color */
display: block; /* Make the links appear below each other */
padding: 12px; /* Add some padding */
text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
background-color: rgb(188, 140, 140); /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
background-color: #a7c6e2; /* Add a green color to the "active/current" link */
color: white;
}
  
.form {
    width: 90%;
    /* background: rgb(68, 68, 68); */
    margin: auto;
    
}

.station-list {
    display: block;
    border: #eee;
    border-bottom:  solid #bbb;
}

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .btn btn-info btn-lg {
    background-color: black; 
    border-color:black; 
    width: 100%;
  }