
  
  * {
    margin: 0;
    padding: 0;
    z-index: 1;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }



  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  /* div.transbox {
    padding:20px;
    width:100%;
    position:relative;
    background: rgb(204, 204, 204); Fallback for older browsers without RGBA-support */
    /* background: rgba(185, 191, 221, 0.5);
    
  } */


  /* .header { 
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 100%;
    background-image: url("bike-header.jpeg");
    background-size: cover;
} */

/* .header::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
} */


  /* Header/logo Title */
  .header {
    background-image: url("bike-header.jpeg");
    background-size: 100%;
    padding: 80px;
    text-align: center;
    /* background: #9fbcd6; */
    color: rgb(40, 42, 74);
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
    text-shadow: rgb(211, 204, 166) 4px 0 20px;;
  }
  
  /* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
  .navbar {
    overflow: hidden;
    background-color: rgb(34, 35, 43);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Active/current link */
  .navbar a.active {
    background-color: #666;
    color: white;
  }

  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #e1e1e1;
    padding: 20px;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: rgb(240, 240, 240);
    padding: 20px;

    
  }

  #map{
    width: 100%;
    height: 90%;
    margin-left: auto; 
    margin-right: auto;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    -webkit-text-fill-color: white;
    background: rgb(52, 52, 52);
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  